<footer>
  <a href="/" class="footer__logo"> VIRTUAL WAKEEL </a>

  <div class="footer__socials">
    <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" rel="noreferrer">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://twitter.com" target="_blank" rel="noreferrer">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>

  <div class="footer__copyright">
    <small>&copy; Virtual Wakeel || All rights reserved.</small>
  </div>
</footer>
