<div class="about-cont row p-0 m-0 border border-danger text-center p-3">
  <h4>We serve the best service</h4>
  <p>
    Our application will help people to understand the legal issues about their
    problem. It will provide complete and comprehensive details regarding the
    issues. Solution to their problems will be only a single click away.
  </p>
</div>

<div class="core-values">
  <h3>OUR CORE VALUES</h3>
</div>

<div style="padding: 15px !important" class="cards row p-0 m-0 my-2">
  <div class="card col-md-3 border">
    <img src="/images/ser4.png" alt="img" class="about-img" />
    <h6>WE SHOW RESPECT</h6>
    <p>
      Being the First Digital Law Firm in Pakistan,we seek out new and better
      ways of working to be the best at what we do.
    </p>
  </div>
  <div class="card col-md-3 border">
    <img src="/images/serv1.png" alt="img" class="about-img" />
    <h6>WE PUT OUR CLIENT FIRST</h6>
    <p>
      We are passionate about delivering what clients want.We seek to provide
      the best solution to our clients.
    </p>
  </div>
  <div class="card col-md-3 border">
    <img src="/images/ser2.png" alt="img" class="about-img" />
    <h6>WE STRIVE FOR EXCELLENCE</h6>
    <p>
      Being the First Digital Law Firm in Pakistan,we seek out new and better
      ways of working to be the best at what we do.
    </p>
  </div>
</div>

<div style="padding: 15px !important" class="cards row p-0 m-0 my-2">
  <div class="card col-md-3 border">
    <img src="/images/ser3.png" alt="img" class="about-img" />
    <h6>WE LEAD THROUGH TECHNOLOGICAL DEVELOPMENT</h6>
    <p>
      We Believe technology is the servant of good business practice and our aim
      is to lead innovation in practice management solutions.
    </p>
  </div>

  <div class="card col-md-3 border">
    <img src="/images/ser5.png" alt="img" class="about-img" />
    <h6>WE TAKE RESPONSIBILITY</h6>
    <p>
      As individuals we recognize and accept responsibility for our
      actions.Outside the workplace our social and community responsibilities
      are integral to our business approach.
    </p>
  </div>
</div>
