<div class="home-content p-3">
  <img src="/images/logo.jpeg" alt="" class="home-logo d-md-block" />
  <h1>Virtual Wakeel</h1>
  <h3>Helping you help yourself</h3>
  <p>
    Access your lawyer to help you help yourself with legal questions or issues
    conveniently from your phone, smartphone, computer, or tablet.
  </p>
  <button>Search case</button>
</div>

<div class="body-content-container">
  <h2>Helping You Help Yourselves</h2>
  <p>
    Whether you are an individual, a family, or a small business owner, legal
    issues arise every day. My Virtual Lawyer is here to provide you access to
    an experienced attorney from the convenience of your home, office, or
    virtually anywhere you are. Choose and access your lawyer for all you legal
    questions, issues, and needs from your phone, computer, or tablet. If you
    have internet access, your attorney is a click away. My Virtual Lawyer
    provides convenient legal access at affordable prices. You control what
    legal services you need within your budget. Flexible fee agreements,
    including fixed and flat-rate fees and payment plans, help you control your
    costs. The general areas of law that your attorney can help you with include
    Family Law, Estate Planning, Traffic Law, Criminal Law, Landlord / Tenant
    Law, Consumer Debt Relief (Non-Bankruptcy), and Small Business Law. Your
    lawyer will discuss with you your desired goal and help determine your path
    to reaching that objective.
  </p>
</div>
<div class="text-center courts-cont">
  <h2>Court Performances</h2>
  <div class="row p-2 courts-div m-0">
    <div class="col-md-4 img-div line-div">
      <img
        src="/images/Supreme&high-court.png"
        alt="court img"
        data-aos="fade-right"
      />
      <h4>Supreme Court</h4>
    </div>
    <div class="col-md-4 img-div line-div">
      <img
        src="/images/Supreme&high-court.png"
        alt="court img"
        data-aos="fade-left"
      />
      <h4>High Court</h4>
    </div>
  </div>
</div>

<div class="outer-Cont">
  <div class="container">
    <img src="/images/FJA.png" alt="img" />
    <img src="/images/fsc.png" alt="img" />
    <img src="/images/islamabad_hc.png" alt="img" />
    <img src="/images/lahore_hc.jpg" alt="img" />
    <img src="/images/pak_law_site.png" alt="img" />
    <img src="/images/peshawar_hc.png" alt="img" />
    <img src="/images/sindh_service_tribunal.png" alt="img" />
    <img src="/images/supremecourtofpak.gif" alt="img" />
    <img src="/images/balochistan_hc.png" alt="img" />
    <img src="/images/SBC.png" alt="img" />
    <img src="/images/FJA.png" alt="img" />
    <img src="/images/fsc.png" alt="img" />
    <img src="/images/islamabad_hc.png" alt="img" />
    <img src="/images/lahore_hc.jpg" alt="img" />
    <img src="/images/pak_law_site.png" alt="img" />
    <img src="/images/peshawar_hc.png" alt="img" />
    <img src="/images/sindh_service_tribunal.png" alt="img" />
    <img src="/images/supremecourtofpak.gif" alt="img" />
    <img src="/images/balochistan_hc.png" alt="img" />
    <img src="/images/SBC.png" alt="img" />
  </div>
</div>
