<div class="text-center p-3 login-title">SignUp</div>
<div class="row m-0 p-5 login-div">
  <div class="col-md-4 img-divv m-0 p-0">
    <img src="/images/registerimg.jpg" alt="img" />
  </div>
  <div class="col-md-6 form-div p-5">
    <form action="" method="POST">
      <div class="col-6 offset-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            value="Usman Akram"
          />
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            value="admin@admin.com"
          />
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            value="admin"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-login" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
