<div>
  <h2 class="service-heading text-center p-3">Our Services</h2>
  <div class="row m-0 p-0 ser-card-div">
    <div class="ser-detail-div col-md-4">
      <h4>Legal Coaching</h4>
      <p>
        Your virtual Wakeel will help you identify your legal issues and discuss
        your goals. He or she will guide you through legal issues you will have
        to address to attain your goals.
      </p>
    </div>
    <div class="service-img-div col-md-4">
      <img src="/images/service-img1.jpg" alt="img" />
    </div>
  </div>

  <div class="row m-0 p-0 ser-card-div">
    <div class="service-img-div col-md-4">
      <img src="/images/service-img-2.jpg" alt="img" />
    </div>
    <div class="ser-detail-div col-md-4">
      <h4>Document Review</h4>
      <p>
        Your virtual wakeel will review your documents and help you to
        understand your rights and obligations created from and the consequences
        of such documents.
      </p>
    </div>
  </div>

  <div class="row m-0 p-0 ser-card-div">
    <div class="ser-detail-div col-md-4">
      <h4>Document Drafting</h4>
      <p>
        Your virtual wakeel will help you draft legal documents such as wills,
        contracts, and business agreements.
      </p>
    </div>
    <div class="service-img-div col-md-4">
      <img src="/images/service-img-3.jpg" alt="img" />
    </div>
  </div>

  <div class="row m-0 p-0 ser-card-div">
    <div class="service-img-div col-md-4">
      <img src="/images/service-img-4.jpg" alt="img" />
    </div>
    <div class="ser-detail-div col-md-4">
      <h4>Preparation for Court</h4>
      <p>
        Your virtual wakeel will advise you on court procedures and courtroom
        behavior. Your lawyer will role play with you so that you know what you
        may be walking into when representing yourself.
      </p>
    </div>
  </div>

  <div class="row m-0 p-0 ser-card-div">
    <div class="ser-detail-div col-md-4">
      <h4>Legal Research</h4>
      <p>Your virtual wakeel will research any legal question that you have.</p>
    </div>
    <div class="service-img-div col-md-4">
      <img src="/images/service-img5.jpg" alt="img" />
    </div>
  </div>

  <div class="row m-0 p-0 ser-card-div">
    <div class="service-img-div col-md-4">
      <img src="/images/service-img6.jpg" alt="img" />
    </div>
    <div class="ser-detail-div col-md-4">
      <h4>Limited Appearance in Court</h4>
      <p>
        Virtual wakeel may be able to appear on your behalf for a limited
        purpose. You may find while representing yourself that a situation
        arises in court that you would prefer to have your lawyer appear with
        you for that limited situation.
      </p>
    </div>
  </div>
</div>
